@{
    ViewData["Title"] = "Delete Book";
}
@model Book

<div class="container">
    @if (Model.BookPK == -1)
    {
        <h3>Book deleted successfully.</h3>
        @Html.ActionLink("Back to manage page.", "EditBooks", "Admin")
    }
    else if (Model.BookPK == -2)
    {
        <h3 class="text-danger">Book failed to delete. Please try again later.</h3>
        @Html.ActionLink("Back to manage page.", "EditBooks", "Admin")
    }
    else
    {
        @using (Html.BeginForm())
        {
            <h3>Are you sure you want to delete this book?</h3>
            <br />
            <div>
                <input type="submit" class="submitbtn" value="Yes, Delete" />
                @Html.ActionLink("No, Never Mind", "EditBooks", "Admin")
            </div>
            <br />
            <hr class="hardhr" />
            @Html.HiddenFor(model => model.BookPK)
            <div class="form-group">
                <h3>Title</h3>
                @Html.TextBoxFor(model => model.Title, new { @class = "view-box", @readonly = "readonly" })
            </div>
            <div class="form-group">
                <h3>Author</h3>
                @Html.TextBoxFor(model => model.Author, new { @class = "view-box", @readonly = "readonly" })
            </div>
            <div class="form-group">
                <h3>Synopsis</h3>
                @Html.TextAreaFor(model => model.Synopsis, new { @class = "view-paragraph-box", @readonly = "readonly" })
            </div>
            <div class="form-group">
                <h3>Series</h3>
                @Html.TextBoxFor(model => model.Series, new { @class = "view-box", @readonly = "readonly" })
            </div>
            <div class="form-group">
                <h3>Review</h3>
                @Html.TextAreaFor(model => model.Review, new { @class = "view-paragraph-box", @readonly = "readonly" })
            </div>
            <div class="form-group">
                <h3>Score</h3>
                @Html.TextBoxFor(model => model.Score, new { @class = "view-box", @readonly = "readonly" })
            </div>
            @if (Model.Cover != null)
            {
                string base64 = Convert.ToBase64String(Model.Cover);
                string imgSrc = String.Format("data:image/gif;base64,{0}", base64);
                <img src="@imgSrc" />
            }
            <hr class="hardhr" />
        }
    }
</div>
